<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Edit Systems</legend>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_Quantity">Quantity</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_Quantity" name="sysbulkedit_Quantity" ng-model="inventoryCtrl.bulkEditSystems.Quantity" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_UnitType">Quantity Unit Type</label>
   <div class="col-sm-6">
     <select id="sysbulkedit_UnitType" name="sysbulkedit_UnitType" ng-model="inventoryCtrl.bulkEditSystems.UnitType" class="form-control">
       <option value="Entire Building, Structure, or Site">Entire Building, Structure, or Site</option>

       <option value="Unit or Vehicle">Unit or Vehicle</option>

       <option value="Track Feet">Track Feet</option>

       <option value="Linear Feet">Linear Feet</option>

       <option value="Set">Set</option>

       <option value="Parking Space">Parking Space</option>

       <option value="Square Feet">Square Feet</option>
     </select>
   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_UnitCost">Cost Per Unit</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_UnitCost" name="sysbulkedit_UnitCost" ng-model="inventoryCtrl.bulkEditSystems.UnitCost" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AgencySoftCost">Additional Soft Cost</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_AgencySoftCost" name="sysbulkedit_AgencySoftCost" ng-model="inventoryCtrl.bulkEditSystems.AgencySoftCost" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_YRInService">Year In Service</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_YRInService" name="sysbulkedit_YRInService" ng-model="inventoryCtrl.bulkEditSystems.YRInService" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AgencyUsefulLife">Agency-Specified Useful Life</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_AgencyUsefulLife" name="sysbulkedit_AgencyUsefulLife" ng-model="inventoryCtrl.bulkEditSystems.AgencyUsefulLife" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_DelayReplaceAge">Delay of Replacement Age (Years)</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_DelayReplaceAge" name="sysbulkedit_DelayReplaceAge" ng-model="inventoryCtrl.bulkEditSystems.DelayReplaceAge" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AssetPhysAddress">Street Address</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_AssetPhysAddress" name="sysbulkedit_AssetPhysAddress" ng-model="inventoryCtrl.bulkEditSystems.AssetPhysAddress" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AssetPhysCity">City</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_AssetPhysCity" name="sysbulkedit_AssetPhysCity" ng-model="inventoryCtrl.bulkEditSystems.AssetPhysCity" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AssetPhysState">State</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_AssetPhysState" name="sysbulkedit_AssetPhysState" ng-model="inventoryCtrl.bulkEditSystems.AssetPhysState" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AssetPhysZIP">ZIP</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_AssetPhysZIP" name="sysbulkedit_AssetPhysZIP" ng-model="inventoryCtrl.bulkEditSystems.AssetPhysZIP" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_Latitude">Latitude</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_Latitude" name="sysbulkedit_Latitude" ng-model="inventoryCtrl.bulkEditSystems.Latitude" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_Longitude">Longitude</label>
   <div class="col-sm-6">
     <input id="sysbulkedit_Longitude" name="sysbulkedit_Longitude" ng-model="inventoryCtrl.bulkEditSystems.Longitude" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_AssetStatus">Asset Status</label>
   <div class="col-sm-6">
     <select id="sysbulkedit_AssetStatus" name="sysbulkedit_AssetStatus" class="form-control">

       <option value="CMT">Committed</option>

       <option value="EXP">Expansion</option>

       <option value="EXT">Existing</option>

       <option value="OUT">Inactive</option>

       <option value="PLN">Long Range Planned</option>

       <option value="RES">Reserve</option>

       <option value="RET">Retired</option>

     </select>

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysbulkedit_PriorityStatus">Priority Status</label>
   <div class="col-sm-6">
     <select id="sysbulkedit_PriorityStatus" name="sysbulkedit_PriorityStatus" ng-model="inventoryCtrl.bulkEditSystems.PriorityStatus" type="text" placeholder="" class="form-control">

       <option value="1">1</option>

       <option value="2">2</option>

       <option value="3">3</option>

       <option value="4">4</option>

     </select>

   </div>
 </div>

</fieldset>
</form>
