<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Edit Systems</legend>

<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AgencyAssetUID">Agency Asset ID</label>
   <div class="col-sm-6">
     <input id="sysedit_AgencyAssetUID" name="sysedit_AgencyAssetUID" ng-model="inventoryCtrl.editSystems.AgencyAssetUID" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetDesc">Description</label>
   <div class="col-sm-6">
     <input id="sysedit_AssetDesc" name="sysedit_AssetDesc" ng-model="inventoryCtrl.editSystems.AssetDesc" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AgencyDetail">Detail</label>
   <div class="col-sm-6">
     <input id="sysedit_AgencyDetail" name="sysedit_AgencyDetail" ng-model="inventoryCtrl.editSystems.AgencyDetail" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetType">Asset Type</label>
   <div class="col-sm-6">
     <input id="sysedit_AssetType" name="sysedit_AssetType" ng-model="inventoryCtrl.editSystems.AssetType" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_ModeCode">Mode Code</label>
   <div class="col-sm-6">
     <input id="sysedit_ModeCode" name="sysedit_ModeCode" ng-model="inventoryCtrl.editSystems.ModeCode" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_NTDModeCode">NTD Mode Code</label>
   <div class="col-sm-6">
     <input id="sysedit_NTDModeCode" name="sysedit_NTDModeCode" ng-model="inventoryCtrl.editSystems.NTDModeCode" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_Quantity">Quantity</label>
   <div class="col-sm-6">
     <input id="sysedit_Quantity" name="sysedit_Quantity" ng-model="inventoryCtrl.editSystems.Quantity" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_UnitType">Quantity Unit Type</label>
   <div class="col-sm-6">
     <select id="sysedit_UnitType" name="sysedit_UnitType" ng-model="inventoryCtrl.editSystems.UnitType" class="form-control">
       <option value="Entire Building, Structure, or Site">Entire Building, Structure, or Site</option>

       <option value="Unit or Vehicle">Unit or Vehicle</option>

       <option value="Track Feet">Track Feet</option>

       <option value="Linear Feet">Linear Feet</option>

       <option value="Set">Set</option>

       <option value="Parking Space">Parking Space</option>

       <option value="Square Feet">Square Feet</option>
     </select>
   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_UnitCost">Cost Per Unit</label>
   <div class="col-sm-6">
     <input id="sysedit_UnitCost" name="sysedit_UnitCost" ng-model="inventoryCtrl.editSystems.UnitCost" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AgencySoftCost">Additional Soft Cost</label>
   <div class="col-sm-6">
     <input id="sysedit_AgencySoftCost" name="sysedit_AgencySoftCost" ng-model="inventoryCtrl.editSystems.AgencySoftCost" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_YRBuilt">Year Built</label>
   <div class="col-sm-6">
     <input id="sysedit_YRBuilt" name="sysedit_YRBuilt" ng-model="inventoryCtrl.editSystems.YRBuilt" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_YRInService">Year In Service</label>
   <div class="col-sm-6">
     <input id="sysedit_YRInService" name="sysedit_YRInService" ng-model="inventoryCtrl.editSystems.YRInService" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AgencyUsefulLife">Agency-Specified Useful Life</label>
   <div class="col-sm-6">
     <input id="sysedit_AgencyUsefulLife" name="sysedit_AgencyUsefulLife" ng-model="inventoryCtrl.editSystems.AgencyUsefulLife" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_DelayReplaceAge">Delay of Replacement Age (Years)</label>
   <div class="col-sm-6">
     <input id="sysedit_DelayReplaceAge" name="sysedit_DelayReplaceAge" ng-model="inventoryCtrl.editSystems.DelayReplaceAge" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetPhysAddress">Street Address</label>
   <div class="col-sm-6">
     <input id="sysedit_AssetPhysAddress" name="sysedit_AssetPhysAddress" ng-model="inventoryCtrl.editSystems.AssetPhysAddress" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetPhysCity">City</label>
   <div class="col-sm-6">
     <input id="sysedit_AssetPhysCity" name="sysedit_AssetPhysCity" ng-model="inventoryCtrl.editSystems.AssetPhysCity" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetPhysState">State</label>
   <div class="col-sm-6">
     <input id="sysedit_AssetPhysState" name="sysedit_AssetPhysState" ng-model="inventoryCtrl.editSystems.AssetPhysState" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetPhysZIP">ZIP</label>
   <div class="col-sm-6">
     <input id="sysedit_AssetPhysZIP" name="sysedit_AssetPhysZIP" ng-model="inventoryCtrl.editSystems.AssetPhysZIP" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_Latitude">Latitude</label>
   <div class="col-sm-6">
     <input id="sysedit_Latitude" name="sysedit_Latitude" ng-model="inventoryCtrl.editSystems.Latitude" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_Longitude">Longitude</label>
   <div class="col-sm-6">
     <input id="sysedit_Longitude" name="sysedit_Longitude" ng-model="inventoryCtrl.editSystems.Longitude" type="text" placeholder="" class="form-control input-md">

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_AssetStatus">Asset Status</label>
   <div class="col-sm-6">
     <select id="sysedit_AssetStatus" name="sysedit_AssetStatus" class="form-control">

       <option value="CMT">Committed</option>

       <option value="EXP">Expansion</option>

       <option value="EXT">Existing</option>

       <option value="OUT">Inactive</option>

       <option value="PLN">Long Range Planned</option>

       <option value="RES">Reserve</option>

       <option value="RET">Retired</option>

     </select>

   </div>
 </div>


<div class="form-group">
  <label class="col-sm-4 control-label" for="sysedit_PriorityStatus">Priority Status</label>
   <div class="col-sm-6">
     <select id="sysedit_PriorityStatus" name="sysedit_PriorityStatus" ng-model="inventoryCtrl.editSystems.PriorityStatus" type="text" placeholder="" class="form-control">

       <option value="1">1</option>

       <option value="2">2</option>

       <option value="3">3</option>

       <option value="4">4</option>

     </select>

   </div>
 </div>

</fieldset>
</form>
