<section style="margin-top:100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bd-example bd-example-tabs" role="tabpanel">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="false">Password</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab" aria-expanded="true">
                            <form>
                                <h3>Update Account Information</h3>
                                <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="myaccountCtrl.accountSuccess">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>Success!</strong> Your account has been updated.
                                </div>
                                <div class="form-group">
                                    <!-- First Name -->
                                    <label for="first_name_id" class="control-label">First Name</label>
                                    <input type="text" ng-model="myaccountCtrl.user.FirstName" class="form-control" id="first_name_id" name="first_name" placeholder="John Deer">
                                </div>
                                <div class="form-group">
                                    <!-- Last Name -->
                                    <label for="last_name_id" class="control-label">Last Name</label>
                                    <input ng-model="myaccountCtrl.user.LastName" type="text" class="form-control" id="last_name_id" name="last_name" placeholder="John Deer">
                                </div>

                                <div class="form-group">
                                    <!-- Email  -->
                                    <label for="email_id" class="control-label">Email Address</label>
                                    <input ng-model="myaccountCtrl.user.email" type="email" class="form-control" id="email_id" name="email_id">
                                </div>

                                <div class="form-group">
                                    <!-- Street 1 -->
                                    <label for="street1_id" class="control-label">Phone (Business)</label>
                                    <input ng-model="myaccountCtrl.user.PhoneBusiness" ng-mask="(999)999-9999" type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o">
                                </div>

                                <div class="form-group">
                                    <!-- Street 2 -->
                                    <label for="street2_id" class="control-label">Phone (Cell)</label>
                                    <input ng-model="myaccountCtrl.user.PhoneCell" type="text" class="form-control" id="street2_id" name="street2" placeholder="Apartment, suite, unit, building, floor, etc.">
                                </div>
                                <!-- 
                                <div class="form-group">
                                    <label for="city_id" class="control-label">City</label>
                                    <input type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
                                </div>

                                <div class="form-group">
                                    <label for="zip_id" class="control-label">Zip Code</label>
                                    <input ng-model="myaccountCtrl.user.FirstName" type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
                                </div> -->

                                <div class="form-group">
                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-primary" ng-click="myaccountCtrl.updateUser()">Save Changes</button>
                                </div>

                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
                            <form>
                                <h3>Update Password</h3>
                                <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="myaccountCtrl.pwdSuccess">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>Success!</strong> Your password has been changed.
                                </div>
                                <div class="form-group">
                                    <!-- Full Name -->
                                    <label for="old_password" class="control-label">Enter Old Password</label>
                                    <input type="password" class="form-control" id="old_password" name="old_password" ng-model="myaccountCtrl.pwd.old">
                                </div>

                                <div class="form-group">
                                    <!-- Full Name -->
                                    <label for="confirm_new_password" class="control-label">Create New Password</label>
                                    <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" ng-model="myaccountCtrl.pwd.new">
                                </div>
                                <div class="form-group">
                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-primary" ng-click="myaccountCtrl.updateUserPwd()">Save Changes</button>
                                </div>


                            </form>
                        </div>
                        <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">
                            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
                                carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
                                Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">
                            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high
                                life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical.
                                Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>